@charset "utf-8";

/*
	Rubik's Solver general styles

	Author: Sean Briggs
	Date:   2025-11-11

	Filename: styles.css

*/

/* HTML and Body styles */

html {
	/* background-color: rgb(255, 200, 160); */
	font-family: Verdana, Geneva, sans-serif;
	height: 100%;
}

/* Header styles */

header {
	background-color: rgb(247, 247, 247);
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
	max-width: fit-content;
}

header img {
	display: block;
	float: left;
	width: 50%;
	max-width: 350px;
}

header h1 {
	float: left;
	font-size: 5em;
	letter-spacing: 0.1em;
	padding: 0.77em 0em;
	font-style: italic;
	color: rgb(63, 18, 18);
	text-shadow: rgb(130, 130, 255) 5px 3px 5px;
}

/* Footer Styles */

footer {
	background-color: rgb(255, 240, 220);
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	clear: both;
}

/* Article styles */

article {
	/* background-color: white;
	box-shadow: rgb(150, 150, 150) 10px 0px 40px, rgb(150, 150, 150) -10px 0px 40px; */
	width: 50%;
	min-width: 320px;
    max-width: 800px;
	margin: 50px 50px;
	margin-left: 25%;
	line-height: 1.5em;
}

article h2 {
	clear: left;
	font-size: 2.2em;
	line-height: 2em;
	margin-top: 1em;
	text-align: center;
}

article h3 {
	clear: left;
	font-size: 1.4em;
	margin-bottom: 0.7em;
}

article p {
	clear: left;
	margin-bottom: 0.7em;
	text-indent: 2em;
}

article aside {
	float: right;
	clear: right;
	width: 40%;
	padding: 15px;
	margin: 0px 0px 20px 20px;
	margin-right: -35%;
	background-color: rgb(255, 217, 190);
	border: black solid 2px;
}

article div.practice {
	width: 80%;
	padding: 20px;
	margin: 20px auto;
	background-color: aliceblue;
	border: black double 4px;
}

article div.practice > p:first-child::before {
	content: "PRACTICE TIME";
	display: block;
	margin-bottom: 1em;
	font-size: 1.2em;
	color: rgb(180, 180, 255);
}

article figure {
	float: left;
	margin: 0px 20px;
}

article span.alg {
	font-family: inherit;
	background-color: rgb(225, 225, 225);
	color: darkred;
	break-inside: avoid;
}

/* Article List Styles */

article ol {
	list-style: decimal inside;
}

article ul {
	list-style: disc inside;
}

article ol {
	padding-inline-start: 1em;
}

article ol ul {
	padding-inline-start: 1.5em;
}

article ul ul {
	list-style-type: circle;
}

/* Other Styles */