@charset "utf-8";

/*
	Rubik's Solver general styles

	Author: Sean Briggs
	Date:   2025-11-11

	Filename: styles.css

*/

/* HTML and Body styles */

html {
	background-color: rgb(255, 200, 160);
	font-family: Verdana, Geneva, sans-serif;
	height: 100%;
}

body {
	background-color: white;
	box-shadow: rgb(150, 150, 150) 10px 0px 40px, rgb(150, 150, 150) -10px 0px 40px;
	margin: 0px auto;
	min-width: 320px;
    max-width: 1000px;
}

/* Header styles */

header {
	background-color: rgb(247, 247, 247);
	width: 100%;
	margin: 0px auto;
	overflow: hidden;
	max-width: fit-content;
}

header img {
	display: block;
	float: left;
	width: 50%;
	max-width: 350px;
}

header h1 {
	float: left;
	font-size: 5em;
	letter-spacing: 0.1em;
	padding: 0.77em 0em;
	font-style: italic;
	color: rgb(63, 18, 18);
	text-shadow: rgb(130, 130, 255) 5px 3px 5px;
}

/* Footer Styles */

footer {
	background-color: rgb(255, 240, 220);
	text-align: center;
	padding: 10px;
}

/* Article styles */

article {
	margin: 50px 100px;
}

article h2 {
	font-size: 2.2em;
	line-height: 2em;
	margin-top: 1em;
}

article p {
	line-height: 1.5em;
	margin-bottom: 0.7em;
	text-indent: 2em;
}

/* Article List Styles */

article ol {
	list-style: decimal inside;
}

article ul {
	list-style: disc inside;
}

article ol {
	padding-inline-start: 1em;
}

article ol ul {
	padding-inline-start: 1.5em;
}

article ul ul {
	list-style-type: circle;
}